<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
    <section layout:fragment="content">
        <table>
            <thead>
            <th>Name</th>
            <th>Address</th>
            </thead>
            <tbody>
            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.name}"/>
                <td th:text="${restaurant.address}"/>
            </tr>
            </tbody>
        </table>
    </section>
</html>