<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title> Welp | Home Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <section layout:fragment="content">
        <h1>Welp HIIIIIasdfasdf</h1>
        <p>Welcome to Welp</p>
        <a th:href="${beans.pathHelper.newRestaurant()}">New Restaurant</a>

    </section>

</body>


</html>