<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta id="Viewport" name="viewport"
              content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
        <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.png}"/>-->
        <title>Welp</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/application.css}"/>
    </head>
    <body>
        <section layout:fragment="content" class="container">
        </section>
    </body>
</html>